.menus .nav-link.active {
  border-bottom: 2px solid #646464 !important;
  font-weight: 600;
}

.menus .nav-link {
  color: #646464;
}

.sizes .nav-link.active {
  border: 2px solid #646464 !important;
  border-radius: 4px;
  font-weight: 700;
}

.sizes .nav-link {
  color: #646464;
  margin-inline: 5px;
  border-radius: 2px;
  width: 38px;
  padding: 5px 0px;
  height: auto;
  font-size: 0.6rem;
}

.productPrice {
  font-weight: 600;
}

#cartCanvas {
  overflow: auto;
}

.form-control3 {
  display: block !important;
  width: 100% !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #212529 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border-radius: 0.25rem !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.btn-theme1 {
  background: linear-gradient(45deg, #f91d50, #c12559);
  color: #fff;
}

.btn-theme1:hover {
  background-position-x: 100%;
}

.btn-theme2 {
  background: linear-gradient(95deg, #ee7436, #e39b42);
  color: #fff;
}

.btn-theme2:hover {
  background-position-x: 100%;
}

.card-title {
  min-height: 45px;
}