<app-header></app-header>
<div class="minhyt70">
  <div class="bgimage">
    <h4 class="text-center font600 mb-0">About Us</h4>
    <p class="mb-0 text-center">Home</p>
  </div>
  <div class="container">
    <div class="row py-5">
      <div class="col-md-6">
        <div class="box">
          <h2><b>About Roolant Kids</b></h2>
          <p class="mb-2">
            <span class="font600">Roolant Kids</span> is a one stop shop for all
            your fashion and lifestyle needs. Being Delhi’s largest e-commerce
            store for fashion and lifestyle products for kids. We’re best kids
            products, India’s largest online kids’ fashion brand. We promise to
            transform every moment in your little one’s life into a fashion.
          </p>
        </div>
        <div class="box1 pt-3">
          <h4 class="font600">
            Kids Wear | Buy Kids Clothes Online in India Delhi
          </h4>
          <p>
            We’re big believers in the little details – ‘coz we know a darling
            embellishment here and a snazzy bow tie there can go a long way.
            We’ve taken great care in curating fun-loving, free-spirited styles
            that will forever delight you, your little one and your pocket.
          </p>
        </div>
        <div class="box2 pt-3">
          <h6><b>Popular Searches</b></h6>
          <p>
            Boys Sherwani Girls Jackets Girls Frocks Boys Jackets Girls Leggings
            Girls Gowns Baby Girl Onesies Baby Boy Onesies Baby Girls Rompers
            Baby Boy Rompers Baby Clothes Girls Clothes Boys Clothes Boys
            Tshirts Girls Tops Boys Jeans Girls Jeans Boys Shirts Girls Tshirts
          </p>
        </div>
        <div class="box3 pt-3">
          <h4 class="font600">Address</h4>
          <p>
            Mohd Akhlaq Khan <br />
            House Number-43,Gali Number-1,Jafrabad,New Seelampur,Delhi-110053
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img d-flex justify-content-center">
          <img src="../../assets/images/girl2.jpg" alt="" />
        </div>
        <div class="row2 d-flex justify-content-evenly mt-5">
          <div class="col-5">
            <img
              class="imges rounded-5"
              src="../../assets/images/boy.png"
              alt=""
              height="228"
              width="220"
            />
          </div>
          <div class="col-5">
            <img
              class="imges rounded-5"
              src="../../assets/images/girl.png"
              alt=""
              height="228"
              width="220"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
