<header>
  <!-- Content -->
</header>

<main>
  <!-- Content -->
</main>

<footer class="footer shadow-lg">
  <div class="row">
    <div class="col-sm-3">
      <div class="footer__addr">
        <h1 class="footer__logo">
          <img src="../../../assets/images/roolantkidsLogo.jpeg" alt="" />
        </h1>

        <h2 class="fs-6 font600">Mohd Akhlaq</h2>

        <address class="text-wrap">
          House Number-43 , Gali Number-1,Jafrabad,New Seelampur,Delhi-110053
          <br />
          <label for="">Email : </label>
          <a
            class="text-decoration-none text-dark"
            href="mailto:info@roolantkids.in"
          >
            info@roolantkids.in</a
          >
        </address>
      </div>
    </div>
    <div class="col-sm-3">
      <div>
        <h4><b>Information</b></h4>
      </div>
      <div class="">
        <ul type="none">
          <li>
            <a
              routerLink="/"
              (click)="scroll()"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >Home</a
            >
          </li>
          <li>
            <a
              routerLink="/about-us"
              routerLinkActive="active"
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >About Us</a
            >
          </li>
          <li>
            <a
              routerLinkActive="active"
              routerLink="/shop"
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >Shop</a
            >
          </li>
          <li>
            <a
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div>
        <h4><b>Need Help</b></h4>
      </div>
      <div class="">
        <ul type="none">
          <li>
            <a
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >Track Orders</a
            >
          </li>
          <li>
            <a
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >Customer Support</a
            >
          </li>
          <li>
            <a
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a
              class="list-items text-decoration-none text-dark"
              href="javascript:void(0)"
              >Refund Policy</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div>
        <h4><b>Newsletter</b></h4>
      </div>
      <div class="p-input pt-4">
        <p class="para">
          Get instant updates about our new products and special promos!
        </p>
        <div class="col mb-3">
          <input
            type="text"
            class="form-control border-bottom"
            placeholder="Enter your email here"
            aria-label="Enter your email here"
          />
        </div>
        <div>
          <button type="button" class="btn btn-danger px-5 rounded-0">
            SUBSCRIBE
          </button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p>
      &copy; 2023 <span class="font600 text-dark">Roolant Kids</span> - All
      rights reserved.
    </p>
  </div>
</footer>
